{% extends 'base.html' %} {%block content%}


  {% if user.is_authenticated%}

  <table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        <th scope="col">City</th>
        <th scope="col">Zipcode</th>
        <th scope="col">ID</th>
    </thead>
    <tbody>
      

      {% if records %}
      {% for record in records %}
        <tr>
          <td><a href="{% url 'record' record.id %}">{{record.first_name}} {{record.last_name}} </td>
          <td>{{record.email}}</td>
          <td>{{record.phone}}</td>
          <td>{{record.address}} </td>
          <td>{{record.city}}</td>
          <td>{{record.zipcode}}</td>
          <td><a href="{% url 'record' record.id %}"> {{record.id}}</td>
        </tr>
        <br>
      {% endfor %}
    {% endif %}

    {% else %}
    </tbody>
  </table>
  <div class='col-md-6 offset-md-3'>
  <h1> Login </h1>
  <br/>


  <form method="POST" action="{% url 'home' %}">
    {% csrf_token %}
      <div class="mb-3">
        <label for="Username" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          name="username"
          placeholder="Username"
          required
        />
      </div>

      <br />
      <div class="mb-3">
        <input
          type="password"
          class="form-control"
          name="password"
          placeholder="Password"
          required
        />
      </div>

      <button type="login" class="btn btn-secondary">Submit</button>
  </form>
</div>

{% endif %} 
{% endblock %}
