{% extends 'base.html' %} {%block content%}

<div class="col-md-6 offset-md-3">
  <h1>Login</h1>
  <br />

  {% if user.is_authenticated%}

  <h1>Hello World</h1>

  {% else %}

  <form method="POST" action="{% url 'home' %}">
    {% csrf_token %}
      <div class="mb-3">
        <label for="Username" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          name="username"
          placeholder="Username"
          required
        />
      </div>

      <br />
      <div class="mb-3">
        <input
          type="password"
          class="form-control"
          name="password"
          placeholder="password"
          required
        />
      </div>

      <button type="login" class="btn btn-secondary">Submit</button>
  </form>
</div>

{% endif %} 
{% endblock %}
